/* Hover underline effect for card title */
.hover-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
}
